
  <li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIT > 0,
                'list-group-item-danger': postLoveIT < 0}">
    <h2>{{postTitle}} </h2> 
    <h5 class="text-right">{{ postDate | date: 'dd/MM/yyyy, hh:mm a' | uppercase}}</h5>
    <p>{{postContent}}</p>
    
    <button class="btn btn-success" (click)="onLoveIT()" >Love it!</button>
    <button class="btn btn-danger" (click)="onDontLoveIT()">Don't love it!</button>
    <button class="btn btn-danger pull-right" (click)="onDeletePost(post)"> Supprimer Post </button>
  </li>



